<aside class="sidebar" id="js-sidebar">
  <div class="sidebar-background" style="background-image: url('{{ .Permalink }}{{ .Params.side_image }}'); "></div>
  <div class="sidebar-overlay"></div>
  <div class="sidebar-wrapper">
    <h1 class="sidebar-headline">Da Visitare:</h1>
    <form class="sidebar-ingredients">
      {{ range .Params.ingredients }}
        <div class="sidebar-ingredient">
          <label class="sidebar-label" for="{{ .name }}">
            <input class="sidebar-input" id="{{ .name }}" type="checkbox" name="{{ .name }}" value="{{ .name }}">
            <span class="sidebar-checkbox">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              </svg>
            </span>
            <span class="sidebar-name">{{ .name }}</span>
          </label>
        </div>
      {{ end }}
    </form>
  </div>
</aside>

