{{ define "main" }}

<article class="post{{ if .Params.image }} entry-hasBackground{{ end }}">

  <div class="content-top">
    {{ if .Params.image }}
     <div class="hero-background" style="background-image: url('{{ .Permalink }}{{ .Site.Params.header_image }}'); "></div>

      <div class="hero-overlay"></div>
      {{ partial "metabar.html" (dict "context" . "color" "-white") }}
    {{ else }}
      {{ partial "metabar.html" (dict "context" . "color" "") }}
    {{ end }}

    <header class="content hero">
      <a id="{{ .Params.title | urlize }}"><h1 class="hero-title">{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Params.title }}{{ end }}</h1></a>
    </header>
  </div>

  <div class="content-bottom">
    <div class="content content-style">

      {{ .Content }}

    </div>
  </div>
</article>

{{ end }}
