{{ define "main" }}

<article class="recipe{{ if .Params.ingredients }} recipe-hasSidebar{{ end }}{{ if .Params.image }} recipe-hasBackground{{ end }}">

  <div class="content-top">
    {{ partial "metabar.html" (dict "context" . "color" "") }}

    {{ if .Params.image }}
    <div class="hero-background" 
    style="background-image: url('{{ .Permalink }}{{ .Params.side_image }}'); 
    "></div>
    <div class="hero-overlay"></div>
    {{ else }}
    {{ end }}

    <header class="content hero">
      <a id="{{ .Params.title | urlize }}"><h1 class="hero-title">{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Params.title }}{{ end }}</h1></a>
      {{ partial "meta.html" . }}
    </header>
  </div>

  {{ if .Params.ingredients }}
  {{ partial "sidebar.html" . }}
  {{ end }}

  <div class="content-bottom">
    <div class="content content-recipe content-style">

      {{ .Content }}

    </div>
  </div>
</article>

{{ end }}
