{{ define "main" }}

<div class="index{{ if .Params.image }} entry-hasBackground{{ end }}">
  <div class="content-top">
    {{ if .Params.image }}

    <div class="hero-background" style="background-image: url('{{ .Site.BaseURL }}/images/{{ .Site.Params.header_image }}'); "></div>
    <div class="hero-overlay"></div>
    {{ partial "metabar.html" (dict "context" . "color" "-white") }}
    {{ else }}
    {{ partial "metabar.html" (dict "context" . "color" "") }}
    {{ end }}

    <header class="content hero">
      <a id="{{ .Params.title | urlize }}"><h1 class="hero-title">{{ $.Site.Params.tagline }}</h1></a>
    </header>
  </div>

  <div class="content" id="js-list">
    <form class="searchbar">
      <fieldset class="searchbar-group">
        <label class="searchbar-search" for="js-search">
          <input class="search form-input" id="js-search" type="search" placeholder="Search new travels" autocomplete="off" onkeypress="return event.keyCode != 13;">
          <svg class="search-icon form-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
          </svg>
          <span class="search-highlight form-highlight"></span>
        </label>
      </fieldset>
      <fieldset class="searchbar-group">
        <label for="europa">
          <input class="searchbar-checkbox js-category" type="checkbox" id="europa" value="europa">
          <span class="searchbar-button">Europa</span>
        </label>
        <label for="asia">
          <input class="searchbar-checkbox js-category" type="checkbox" id="asia" value="asia">
          <span class="searchbar-button">Asia</span>
        </label>
        <label for="america">
          <input class="searchbar-checkbox js-category" type="checkbox" id="america" value="america">
          <span class="searchbar-button">America</span>
        </label>
      </fieldset>
      <fieldset class="searchbar-group">
        <label for="pochi-giorni">
          <input class="searchbar-checkbox js-meat" type="checkbox" id="pochi-giorni" value="pochi-giorni">
          <span class="searchbar-button">Pochi Giorni</span>
        </label>
        <label for="settimana">
          <input class="searchbar-checkbox js-meat" type="checkbox" id="settimana" value="settimana">
          <span class="searchbar-button">Settimana</span>
        </label>
        <label for="mese">
          <input class="searchbar-checkbox js-meat" type="checkbox" id="mese" value="mese">
          <span class="searchbar-button">Mese</span>
        </label>
      </fieldset>
    </form>


    <ul class="list">

      {{ range where .Site.Pages "Section" "==" "recipe" }}

      {{ if .Params.title }}

      <li class="list-recipe">
        <article>
          <a href="{{ .Permalink}}" title="{{ .Params.title }}">
            <div class="list-image" style="background-image: url('{{ .Permalink }}{{ .Params.side_image }}'); "></div>
            <div class="list-body">
              <span class="list-category category">{{ .Params.category }}</span>
              {{ range .Params.categories }}{{ . }}{{ end }}
              <h3 class="list-header title">{{ .Params.title }}</h3>
              {{ partial "meta.html" . }}
              <span class="list-ingredients ingredients" data-ingredients="{{ range .Params.ingredients }}{{ .name }}, {{ end }}"></span>
            </div>
          </a>
        </article>
      </li>

      {{ end }}
      {{ end }}

    </ul>

  </div>
</div>

{{ end }}

